<footer>
	<div class="table-responsive"> 
		<table class="table borderless">
	<tr>
		<th>LifeHelper</th>
		<th>Kontakt</th>
	</tr>
	<tr>
		<td>Aplikacja wspierająca Twój czas :)</td>
		<td>email - support@lifehelper.pl</td>
	</tr> 
	<tr>
		<td>© Copyright 2018</td>
		<td>Wszelkie prawa zastrzeżone dla Krystian Łachut</td>
	</tr>
</table>
</div>
</footer>